<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Aluno</title>
</head>
<body>
    <div class="container" >
        <a href="Cadastro"><button>Cadastro</button></a>
        <a href="Atualizar"><button>Atualizar</button></a>
        <a href="Deletar"><button>Deletar</button></a>
        <a href="VerAlunos"><button>Ver alunos</button></a>
    </div>
</body>
</html>