<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Deletar</title>
</head>
<body>
    <div class="container">
        <form action="/deletar" method="post">
            <label for="matricula">Matricula </label>
            <input type="number" name="matricula">

            <input type="submit" value="Deletar">
        </form>
        <a href="/aluno"><button>Voltar</button></a>
    </div>
</body>
</html>